@charset "utf-8";

.post-title {
  text-align: left;
}

.post-content {
  // scrollable for mobile devices
  overflow-x: scroll;
  line-height: 1.7;

  p {
    margin-bottom: 1.25em;
    line-height: 1.7;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2,
  h3,
  h4 {
    margin-top: 1.75em;
    margin-bottom: 0.75em;

    &:first-child {
      margin-top: 0;
    }
  }

  ul,
  ol {
    margin: 0 0 1.25em 1.5em;
  }

  li {
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0.75em;
    }
  }

  blockquote {
    margin: 1.25em 0 1.25em 1em;
  }

  hr {
    margin: 2em 0;
  }

  pre,
  .highlight {
    margin: 1.25em 0;
  }
}

.post-content img {
  display: block;
  margin: 10px auto;
}

.post-info {
  line-height: 24px;
  margin: 10px 0;
}

.post-category,
.post-tag {
  margin: 0 5px;
}
